<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Parchment</title>
  <script>
    parchment_options = {
      default_story: 'ruinas.z5.js' 
    };
  </script>
	<link rel="stylesheet" href="lib/gritter/css/jquery.gritter.css">
	<link rel="stylesheet" href="lib/parchment.min.css">
	<link rel="stylesheet" href="lib/style.css">
	<script src="lib/jquery.min.js"></script>
	<script src="lib/gritter/js/jquery.gritter.js"></script>
	<script src="lib/parchment.min.js"></script>
	<meta name="viewport" content="width=device-width,user-scalable=no">
</head>
<body>
	<div id="about">
		<h1>Parchment</h1>
		<p>is an interpreter for Interactive Fiction, and now plays both Z-Machine and Glulx stories! <a href="http://parchment.googlecode.com">Find out more.</a></p>
		<noscript><p>Parchment requires Javascript. Please enable it in your browser.</p></noscript>
	</div>
	<div id="parchment"></div>
</body>
</html>
